//
$body-background-color: #fefefe;

$sidebar-color: #eeeeee;

$border-color: #eeeeff;

$body-text-color: #000000;
$body-heading-color: #000000;

$nav-child-link-color: #2db92d;

$link-color: #2db92d;

$btn-primary-color: #006500;

$base-button-color: #006500;

$code-background-color: #f3f3f3;
