<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.summary %}{{ page.summary | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
<meta name="keywords" content="{{page.tags}}{% if page.tags %}, {% endif %} {{page.keywords}}">
<title>{{ page.title }} | {{ site.site_title }}</title>

<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="{{ site.baseurl }}/css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="{{ site.baseurl }}/css/customstyles.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/theme-blue.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.navgoco.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- Anchor.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/2.0.0/anchor.min.js"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<script src="{{ site.baseurl }}/js/toc.js"></script>
<script src="{{ site.baseurl }}/js/customscripts.js"></script>

<link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico">

<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml">

<!--============================================================================
JSON LD
Test using https://search.google.com/structured-data/testing-tool#
==============================================================================-->
{% assign author = site.authors[page.author] %}
{% if author == nil %}
	{% assign author = site.authors["pavan"] %}
{% endif %}

{% assign datePublished = {{ page.date_published }} %}

{% assign dateModified = {{ page.date_modified | default: page.date_published }} %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "url": "{{ site.url }}{{ page.url }}",
  "name": {{ page.title | jsonify }},
  "headline": {{ page.summary | jsonify }},
  "keywords": {{ page.keywords | jsonify }},
  "description": {{ page.summary | strip_newlines | strip | jsonify }},
  "articleBody": {{ page.content | strip_html | jsonify }},
  "datePublished": {{ datePublished | default: site.time | jsonify }},
  "dateModified": {{ dateModified | default: site.time | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ author.name | jsonify }},
    "givenName": {{ author.givenName | jsonify }},
    "familyName": {{ author.familyName | jsonify }},
    "email": {{ author.email | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.title | jsonify }},
    "url": "{{ site.url }}",
    "logo": {
      "@type": "ImageObject",
      "width": {{ site.logo_width }},
      "height": {{ site.logo_height }},
      "url": "{{ site.url }}{{ site.logo_url }}"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  },
  "image": {
    "@type": "ImageObject",
    "width": {{ page.img_width | default: site.img_width }},
    "height": {{ page.img_height | default: site.img_height }},
    "url": "{{ site.url }}{{ page.img_url | default: site.img_url }}"
  }
}
</script>