<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  {% if page.description %}
  <meta name="Description" content="{{ page.description }}">
  {% endif %}

  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/codeaches.css" | absolute_url }}">

  {% include google-analytics-plugin.html %}

  {% if site.search_enabled != nil %}
    <script type="text/javascript" src="{{ "/assets/js/vendor/lunr.min.js" | absolute_url }}"></script>
  {% endif %}
  <script type="text/javascript" src="{{ "/assets/js/codeaches.js" | absolute_url }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {% include addthis-share-plugin.html %}

</head>
