//
//
//
//fonts
$font_0: arial;

#aboutme-section {
	p:last-child {
		margin-bottom: 0;
	}
}
.about-text {
	position: relative;
	margin-left: 30px;
}
.about-icon {
	position: absolute;
	left: -40px;
	margin-top: 5px;
}
#contactme-section {
	p:last-child {
		margin-bottom: 0;
	}
}

//colors
$color_celeste_approx: #ccc;
$color_apple_approx: #4caf50;
$white: white;

#myemail {
	width: 100%;
	padding: 12px;
	border: 1px solid $color_celeste_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
#myname {
	width: 100%;
	padding: 12px;
	border: 1px solid $color_celeste_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
#mymessage {
	width: 100%;
	padding: 12px;
	border: 1px solid $color_celeste_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
#mysubmit {
	background-color: $color_apple_approx;
	color: $white;
	padding: 12px 20px;
	border: none;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	cursor: pointer;
}