//colors
$color_fuscous_gray_approx: #555;

list-posts-home {
}
ul.list-posts-home {
	list-style-type: none;
	margin-bottom: 2em;
	li {
		line-height: 1.75em;
	}
	span {
		color: $color_fuscous_gray_approx;
		font-size: 80%;
	}
}